@import url("https://fonts.googleapis.com/css2?family=Alkatra");

:root {
  /* COLORS */
  --background-color: #3b9673;
  --lite-background-color: #62ab8f;
  --main-font-heavy: #0c1e17;
  --secondary-font-lite: #235a45;
  --tasks-color: #d8eae3;
  --buttons-color: #1e4b3a66;
  --buttons-dark-color: #1e4b3a;

  /* FONTS */
  --large-font: 5.4rem;
  --mid-font: 3.2rem;
  --small-font: 1.6rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Alkatra", sans-serif;
  background-color: var(--background-color);
  color: var(--main-font-heavy);
  line-height: 1;
  position: relative;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  padding: 1.2rem;
}

button:focus,
p:focus,
select:focus {
  outline: none;
}

.container {
  width: 120rem;
  max-width: 80vw;
  margin: 1.8rem auto;
  text-align: center;
  padding: 0.8rem;
  background-color: var(--lite-background-color);
}

.icon {
  color: var(--main-font-heavy);
  font-size: 2.4rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.socialicn:hover,
.socialicn:active,
.icons .icon:hover,
.icons .icon:active {
  cursor: pointer;
  color: var(--secondary-font-lite);
  transform: translateY(-0.2rem);
  -webkit-transform: translateY(-0.2rem);
  -moz-transform: translateY(-0.2rem);
  -ms-transform: translateY(-0.2rem);
  -o-transform: translateY(-0.2rem);
}

.flex {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: space-between;
}

.filmy {
  opacity: 0.4;
}

/* ******************** */
/* ****** HEADER ********/
/* ******************** */
.header {
  font-weight: 700;
}

.headLine {
  font-size: var(--large-font);
  text-shadow: 0 0 5.4rem rgba(6, 15, 11, 0.615);
}

.timeAndDate {
  margin: auto 1rem;
  flex-direction: column;
  font-size: var(--small-font);
}

.taD {
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}

.Qplayer {
  margin: auto 1rem;
  width: 15%;
  align-self: flex-end;
}

.icons {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

option {
  color: var(--secondary-font-lite);
  background-color: var(--tasks-color);
}

.select {
  background-color: inherit;
  font-size: var(--small-font);
  width: 100%;
  margin-bottom: 0.5rem;
  border: 1px solid var(--main-font-heavy);
}

.Qimg {
  height: 8rem;
}

.hide {
  display: none;
}

/* ******************** */
/* ****** ASIDE ********/
/* ******************** */
.aside {
  flex-direction: column;
  margin: 1.8rem;
}

/* Reminder */
.reminderList {
  /* display: none; */
  margin-top: -1rem;
  padding: 0.8rem 1rem;
  width: fit-content;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;

  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  background-color: #91c4b1;
  box-shadow: 0px 2px 1.8rem var(--buttons-dark-color);
}

.reminde {
  font-size: var(--small-font);
}

.remember {
  font-weight: 700;
  font-style: italic;
}

/* ******************** */
/* ****** FOOTER ********/
/* ******************** */
.footer {
  /* flex-direction: column; */
  gap: 2rem;
  padding: auto;
  margin: 1rem;
}

.footer p {
  font-size: var(--small-font);
}

.myName {
  color: var(--main-font-heavy);
}

.myName:hover {
  color: var(--secondary-font-lite);
}
